<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRG Consulting</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <nav>
            <div class="logo">CRG</div>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="intro">
            <div class="content">
                <h1>CRG Cloud Consultancy Services</h1>
                <h2>STRATEGY.<br>INNOVATION.<br>IMPLEMENTATION.</h2>
            </div>
            <div class="image">
                <img src="carlosgarcia.jpg" alt="Carlos Garcia">
            </div>
        </section>
        <section class="comingsoon">
            <div class="content">
                <h3>Comming Soon!</h1>
            </div>
            <div class="content">
                <h3>This site is under construction!</h1>
            </div>
        </section>
    </main>
</body>
</html>
