<!DOCTYPE HTML>
<html>
	<head>
		<title>CRG Consulting Services</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="~/static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="~/static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<h1><a href="index.html">CRG Consulting Services</a></h1>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<div class="inner">
							<h2>Menu</h2>
							<ul class="links">
								<li><a href="index.html">Home</a></li>
								<li><a href="expertise.html">Expertise</a></li>
								<li><a href="projects.html">Projects</a></li>
								<!-- <li><a href="#">Log In</a></li>
								<li><a href="#">Sign Up</a></li> -->
							</ul>
							<a href="#" class="close">Close</a>
						</div>
					</nav>

				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<div class="logo"><span class="icon fa-gem"></span></div>
							<h2>CRG Consulting services</h2>
							<p>Empowering Leaders, Elevating Teams.</p>
						</div>
					</section>

				<!-- Wrapper -->
					<section id="wrapper">

						<!-- One -->
							<section id="one" class="wrapper spotlight style1">
								<div class="inner">
									<a href="#" class="image"><img src="~/static/images/pic01.jpg" alt="" /></a>
									<div class="content">
										<h2 class="major">Experience</h2>
										<p><b>Transforming companies into Software companies</b> - With over two decades of experience, we focus in transforming organizations to improve performance and efficiency and embrace new technologies to benefit from innovation</p>
										<a href="#" class="special">Learn more</a>
									</div>
								</div>
							</section>

						<!-- Two -->
							<section id="two" class="wrapper alt spotlight style2">
								<div class="inner">
									<a href="#" class="image"><img src="~/static/images/pic02.jpg" alt="" /></a>
									<div class="content">
										<h2 class="major">Technical Mastery</h2>
										<p>We take the time and effor required to master the latest technologies, bringing opinionated but curious minds to execute and teach your teams how to make the most out of technology </p>
										<a href="#" class="special">Learn more</a>
									</div>
								</div>
							</section>

						<!-- Three -->
							<section id="three" class="wrapper spotlight style3">
								<div class="inner">
									<a href="#" class="image"><img src="~/static/images/pic03.jpg" alt="" /></a>
									<div class="content">
										<h2 class="major">Tailored Solutions</h2>
										<p><b>Culture eat theory for breakfast</b>, we know it, we are keen to hear your problems and needs, and bring solutions that adapt to your environment</p>
										<a href="#" class="special">Learn more</a>
									</div>
								</div>
							</section>

						<!-- Four -->
							<section id="four" class="wrapper alt style1">
								<div class="inner">
									<h2 class="major">OOS Projects</h2>
									<p>Here some projects we built as part of our learning experiences.</p>
									<section class="features">
										<article>
											<a href="#" class="image"><img src="~/static/images/glb-architecture.png" alt="" /></a>
											<h3 class="major">High Available Architecture for private mision critical applications on Azure</h3>
											<p>The propose of this repo is to test different alternatives to have privat global load balancer across regions in Azure.
												The repo contains terraform templates, details instructions and GitHub Actions to make it easy to replicate and extend.</p>
											<a href="https://github.com/crgarcia12/azure-global-load-balancer" class="special">Learn more</a>
										</article>
										<article>
											<a href="#" class="image"><img src="~/static/images/ha-module.png" alt="" /></a>
											<h3 class="major">IoT Module for industrial automation</h3>
											<p>An example on how you can build electronic components that connect with industrial or home systems via internet </p>
											<a href="https://github.com/crgarcia12/electronics-homeassistant-lightscontroll" class="special">Learn more</a>
										</article>
										<article>
											<a href="#" class="image"><img src="~/static/images/hpc-architecture.png" alt="" /></a>
											<h3 class="major">Cloud based HPC</h3>
											<p>Demo that runs HPC architectures on Cloud Managed Kubernetes platforms</p>
											<a href="https://github.com/crgarcia12/azure-aks-batch" class="special">Learn more</a>
										</article>
									</section>
									<ul class="actions">
										<li><a href="#" class="button">Browse All</a></li>
									</ul>
								</div>
							</section>

					</section>

				<!-- Footer -->
					<section id="footer">
						<div class="inner">
							<h2 class="major">Get in touch</h2>
							<p>Don't hesitate to contact us</p>
							<form method="post" action="#">
								<div class="fields">
									<div class="field">
										<label for="name">Name</label>
										<input type="text" name="name" id="name" />
									</div>
									<div class="field">
										<label for="email">Email</label>
										<input type="email" name="email" id="email" />
									</div>
									<div class="field">
										<label for="message">Message</label>
										<textarea name="message" id="message" rows="4"></textarea>
									</div>
								</div>
								<ul class="actions">
									<li><input type="submit" value="Send Message" /></li>
								</ul>
							</form>
							<ul class="contact">
								<li class="icon solid fa-home">
									CRG Consulting<br />
									Zurich<br />
									Switzerland
								</li>
								<li class="icon solid fa-phone">call us</li>
								<li class="icon solid fa-envelope"><a href="#">crg@crgarcia.com.ar</a></li>
								<li class="icon brands fa-twitter"><a href="#">https://www.linkedin.com/in/carlosgarcialalicata/</a></li>
								<li class="icon brands fa-facebook-f"><a href="#">https://www.linkedin.com/in/carlosgarcialalicata/</a></li>
								<li class="icon brands fa-instagram"><a href="#">https://www.linkedin.com/in/carlosgarcialalicata/</a></li>
							</ul>
							<ul class="copyright">
								<li>&copy; CRG Consulting. All rights reserved.</li><li>Website built with the help of HTML5UP</li>
							</ul>
						</div>
					</section>

			</div>

		<!-- Scripts -->
			<script src="~/static/assets/js/jquery.min.js"></script>
			<script src="~/static/assets/js/jquery.scrollex.min.js"></script>
			<script src="~/static/assets/js/browser.min.js"></script>
			<script src="~/static/assets/js/breakpoints.min.js"></script>
			<script src="~/static/assets/js/util.js"></script>
			<script src="~/static/assets/js/main.js"></script>

	</body>
</html>